<h1>Meal Rep </h>
<p>Search for foods below...</p>
<form id="searchForm" method="GET" action="/nutrition/results">
    <label for="food input">Search by Food</label>
    <input id="food input" name="userSearch" type="text">
    <input type="submit">
</form>
