<h1>Meal Rep </h>
<p>Search for foods below...</p>
<form method="GET" action="/nutrition/results">
    <label for="food input">Search by Food</label>
    <input type="text">
    <input type="submit">
</form>
