<h1>Meal Rep </h>
<p>Search for foods below...</p>
<form id="searchForm" method="GET" action="/nutrition/results">
    <label for="food input">Search by Food</label>
    <input id="food input" name="itemSearch" type="text">
    <input type="submit">
</form>
    <!-- <p>Search for brands below...</p>
<form id="searchForm" method="GET" action="/nutrition/results">
    <label for="brand input">Search by Brand</label>
    <input id="brand input" name="brandSearch" type="text">
    <input type="submit">
</form> -->