<% if(results === undefined) { %>
    <h3>No Items Found</h3>
    <small>Check your spelling or choose another item and try again.</small>
<% } else{ %> 
        <ul>
            <% results.forEach(function(result) { %>
                <li>
                    <a href="/nutrition/<%= result.food_name%>"></a>
                </li>

           <% }) %> 
        </ul>
<% } %> 