@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Parisienne&display=swap');

#navBar {
    background-color: #264653;
    width: 100%;
    overflow: auto;
    font-size: 20pt;
}
.title{
    text-decoration: underline;
    color: black;
}

#mealRepLogo{
    position: absolute;
    display: inline-block;
    margin-left: 37%;
    margin-top: 3%;
    font-size: 65pt;
    font-family: 'Parisienne', cursive;
}

.landingPage {
    display: flex;
    background-image: url("https://i.postimg.cc/hvTpYN0d/salad-image.jpg") ;
    background-size: cover;
    min-height: 94.5vh; 
}

.navLink { 
    color: blanchedalmond;
    text-decoration: none;
    float: left;
    padding-right: 12px;
    width: 25%;
    text-align: center;
}

.navLink:hover{
    color: rgb(243, 206, 151);
    text-decoration: none;
    background-color: #173d4d ;
}

body {
    font-family: 'DM Serif Display', serif;
    background-color: #F7B378;
}
#divSpaceFrmTop{
    margin-top: 3%;
}

.transparentDiv {
    position: relative;
    border-radius: 25px;
    border: 4px solid #bc4b51;
    padding: 20px;
    font-size: 30pt;
    width: 20em;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    top: 50%;
    text-align: center; 
}


.submitButton{
    border-radius: 10px;
    border: none;
    height: 55pt;
    font-size: 25pt;
    color: blanchedalmond;
    background-color: #bc4b51;
}

.submitButton:hover{
    background-color: #b43e44 ;
}

#nutritionFacts{
    font-size: 25pt;
    margin-top: 3%;
}

#removeButt{
    font-size: 20pt;
}

.logged{
    padding-bottom: 4%;
}
#removeFrmMeal{
    font-size: 15pt;
    padding: 5pt;
    margin-right: 20%;
}
#editButt{
    position: absolute;
    font-size: 15pt;
    margin-top: 2%;
    margin-left: 13%;
    padding: 10pt;
    height: fit-content;
}
#edit{
    display: flex;
    justify-content: center;
}
.loggedItems{
    text-decoration: none;
    color: black;
}

.titleOutsideDiv {
    text-align: center;
    margin-top: 2%;

}
#ingredientList{
    text-align: center;
}
#newMealFrm {
    font-size: 20pt;
}
#faveFoodsFrm{
    font-size: 20pt;
}
#allMeals{
    position: relative;
    border-radius: 25px;
    border: 4px solid #bc4b51;
    padding: 20px;
    font-size: 20pt;
    width: 20em;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    top: 50%;
    text-align: center; 
}
#linebreak{
    background-color: #F7B378;
}
span + span{
    margin-bottom: 10px;
}
#mealEdit{
    margin-top: 2%;
}
