<h1 style="text-align: center; margin-top: 2%;">Logged Foods</h1>
<div class="transparentDiv">
   <p ><a class="title" href="/meal/newMeal">Click to Create a Meal</a></p>
      
      <% results.forEach(result => { %>
         <div class="logged"></div>
      <h3>
         <a class="loggedItems" href="/nutrition/results?itemSearch=<%= result.food_name %>"><%= result.food_name %></a>  
      </h3>
      <form action="/favorites/<%= result.id %>?_method=DELETE" method="post">
         <button id="removeButt" class="submitButton"type="submit">Remove From Favorites</button>
      </form>
      <% }) %> 
      </div>
</div>