<h1>Create a new Meal</h1>
<h3><a href="/meal/all">View Saved Meals</a></h3>


<form action="/meal" method="POST">
<div class="form-group">
   <label for="name">Meal Name</label>
   <input type="text" class="form-control" id="name" name="name" required>
</div>

<div class="form-group">
   <label for="ingredients">Ingredients</label>
   <select name="ingredients" id="ingredients" class="form-control" required multiple>
   <% ingredients.forEach(ingredient => { %>
      <option value="<% ingredient.name %>"><%= ingredient.food_name %> </option>
  <% }) %>
</select>  

<div class="form-group">
   <label for="content">Notes</label>
   <textarea type="text" class="form-control" id="content" name="content" required></textarea>
</div>

<input type="submit">

</form>



