<h1 class="titleOutsideDiv">Create a New Meal</h1>
<div class="transparentDiv" id="newMealFrm"> 
   <p><a class="title" href="/meal/all">View Saved Meals</a></p>

   <form action="/meal" method="POST">
   <div class="form-group">
      <label for="name">Meal Name:</label>
      <input type="text" class="form-control" id="name" name="name" required>
   </div>

   <div class="form-group">
      <label for="ingredients">Ingredients:</label>
      <select id="ingredientList" name="ingredients" id="ingredients" class="form-control" multiple>
      <% ingredients.forEach(ingredient => { %>
         <option value="<%= ingredient.food_name %>"><%= ingredient.food_name %> </option> 
   <% }) %>
   </select> 

   <div class="form-group">
      <label for="content">Notes:</label>
      <textarea type="text" class="form-control" id="content" name="content" ></textarea>
   </div>

   <input class="submitButton" type="submit">

   </form>
</div>



