<div class="transparentDiv">

<p class="title"><%= foundMeal.name %></p>
<h2>Ingredients:</h2>
<% for(let i = 0; i < foundMeal.ingredient.length; i++) { %>
    <h3><%= foundMeal.ingredient[i] %></h3>
<% } %> 
<hr>
<h2>Notes:</h2>
<h3><%= foundMeal.content %> </h3>
</div>